<td>
  <%= @comment.text %>
  <em class="date"><%= @comment.inserted_at %></em>
  <span class="comment-row__actions">
    <%= if @comment.hidden do %>
      <a href="<%= admin_comment_path(@conn, :toggle, @comment) %>">Show</a>
    <%= else %>
      <a href="<%= admin_comment_path(@conn, :toggle, @comment) %>">Hide</a>
    <% end %>
    <a href="<%= admin_comment_path(@conn, :edit, @comment) %>">Edit</a>
  </span>
</td>
