<%= form_for @changeset, @action, fn f -> %>
  <div class="form-group">
    <%= label f, :text, @label, class: "control-label" %>
    <%= textarea f, :text, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>
