<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :vote_type, value: @vote_type %>

  <div class="form-group">
    <%=
      classItems = ~w(btn btn-default)
      if @enabled == false do classItems = ["disabled" | classItems] end
      classStr = classItems |> Enum.join(" ")
      submit @label, class: classStr
    %>
  </div>
<% end %>
