<%= form_for @changeset, @action, fn f -> %>
  <%= hidden_input f, :vote_type, value: @vote_type %>

  <div class="form-group">
    <%
      class_items = ~w(btn btn-default)
      if @enabled == false do class_items = ["disabled" | class_items] end
      class_str = class_items |> Enum.join(" ")
    %>
    <button type="submit" class="<%= class_str %>">
      <i class="<%= @icon_class %>"></i>
    </button>
  </div>
<% end %>
